@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-white: #ffffff;
  --primary-light-grey: #f4f4f4;
  --primary-red: #DC143C;
  --primary-dark: rgba(52, 58, 64);
  --primary-orange: #f9ab00;
  --primary-hover-white: #fff;
}
body {
  font-family: "Roboto Condensed" sans-serif !important;
}

/**********************NAVBAR**********************/
nav {
  z-index: 2;
}
.logo {
  width: 16.25rem;
}

/*------------ MENU LINKS----------*/
nav a.nav-link {
  letter-spacing: 0.375;
  cursor: pointer;
}
nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 00.75rem;
  color: var(--primary-white) !important;
  border-top: 00.1875rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 9rem !important;
}

@media(max-width: 768px) {
  .navbar-brand {
    width: 7rem;
  }
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-red);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-red)
}

